block Configuration
  h2 Configurations
  div
    p Configs:       #{JSON.stringify(configs)}
    form()
      input(type="hidden", name="_csrf", value=csrfToken)
      br
      label(ng-repeat="(configKey, configValue) in configs  track by $index")
        div(ng-if="configKey == 'AvailableLoginServices'", id="availableLoginServices")
          span Available Login Services:
            label(ng-repeat="(lsKey, lsValue) in configValue")
              input(type='checkBox' ng-model="lsValue")
              | {{lsKey}}
        
      input(type="submit", data-ng-click="submitConfigsClick($event)")