extends layout

block content
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/angular.js')
  script(src='/javascripts/schedules/datePicker.js')
  h1= title
  p Welcome to #{title}
  form
    input(type="text", id="pickDate")
  